@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--bg-color: #f4f5f4;
	--color-darkgreen: #1d4c56;
	--color-lightgreen: #45bc97;
	--color-badge: #96b099;
	--color-brown: #b4ab48;
	--color-darkbrown: #88600e;
	--color-lightbrown: #d1d092;
	--color-subheading: #08090acc;
	--color-blue: #3a88c8;
	--color-sky: #004d74;
	--color-lightpink: #bca794;
	--color-black: #000;
	--font-family: "Inter", sans-serif;

	--text-white: #f4f5f4;
}

* {
	/* restting user-agent stylesheet */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* --------------------navbar------------------- */
header {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	border: 3px solid transparent;
	height: 65px;
	z-index: 100;
	backdrop-filter: blur(14px);
}

.nav {
	display: grid;
	border: 3px solid transparent;
	margin: 0 auto;
	grid-template-columns: 2.5fr 1fr;
	align-items: center;
	height: 100%;
	width: 1067px;
	position: sticky;
	top: 0;
	background-color: transparent;
	font-family: var(--font-family);

	z-index: 1;
}

.nav> :nth-child(1) {
	display: flex;
	justify-content: space-between;
	border: 3px solid transparent;
}

.nav> :nth-child(2) {
	display: flex;
	justify-content: flex-end;
	height: 60%;
	gap: 0.5rem;
}

.button1 {
	display: flex;
	justify-content: space-between;
}

.button1>button {
	padding: 8px 13.7px;
	border: none;
	background-color: transparent;
	color: var(--text-white);
	border-radius: 5px;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: 15px;
	font-weight: 550;
	transition: background-color 0.3s ease;
}

.button1>button:hover {
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.06);
}

.button2>button {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 14px;
	border: none;
	color: var(--text-white);
	border-radius: 3.6px;
	cursor: pointer;
	font-family: var(--font-family);
	font-weight: 510;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}

.button2>button:first-child {
	background-color: rgba(255, 255, 255, 0.06);
	font-size: 0.92rem;
}

.button2>button:last-child {
	background-color: rgba(255, 255, 255);
	font-size: 0.92rem;
	color: #000;
}

.button2>button:last-child:hover {
	background-color: rgba(215, 215, 225);
}

.nav> :nth-child(1)> :nth-child(1) {
	display: flex;
	align-items: center;
	gap: 4px;
	justify-content: space-between;
	font-family: var(--font-family);
	font-size: 1.4rem;
	font-weight: 750;
	color: var(--text-white);
	cursor: pointer;
}

/* ---------------navbar-ends------------- */

.hero {
	position: relative;
	isolation: isolate;
	height: 100vh;
	width: 100%;
}

.bgimage {
	position: absolute;
	top: -164px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: -1;
}

.content {
	position: relative;
	top: 65px;
	height: 32rem;
}

/*--------- badge starts ---------*/
.badge {
	display: flex;
	justify-content: space-between;
	padding: 0.18rem 0.25rem;
	padding-right: 0.5rem;
	align-items: center;
	position: absolute;
	top: 2rem;
	left: 50%;
	transform: translate(-50%);
	background-color: rgba(0, 0, 0, 0.11);
	border-radius: 1rem;
	font-family: var(--font-family);
	font-size: 0.78rem;
	font-weight: 550;
	gap: 0.6rem;
	text-decoration: none;
	color: var(--text-white);
}

.badge:hover {
	background-color: rgba(50, 50, 50, 0.11);
}

.badge>span {
	background-color: #108766;
	border-radius: 0.9rem;
	padding: 0.25rem 0.5rem;
}

.badge>p {
	font-size: 0.87rem;
}

.badge>.imgbox {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	background-color: #fff;
	border-radius: 100%;
	transform: translateX(-15%);
	width: 14px;
	height: 14px;
}

.badge>.imgbox>img {
	width: 12px;
}

/*----------------- badge ends ---------------*/

.hero>.content>.text {
	position: absolute;
	top: 20%;
	display: flex;
	justify-content: center;
	width: 100%;
}

.hero>.content>.text>h1>span {
	display: block;
}

.hero>.content>.text>h1> :last-child {
	transform: translateY(-0.25rem);
}

.hero>.content>.text>h1 {
	font-family: var(--font-family);
	font-size: 4rem;
	letter-spacing: -0.02em;
	font-weight: 600;
	color: #fff;
	border: 1px solid transparent;
	width: 50rem;
	text-align: center;
}

.hero>.content>.subtext {
	position: absolute;
	top: 50.45%;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.5rem 0;
}

.hero>.content>.subtext>h2>span {
	display: block;
}

.hero>.content>.subtext>h2> :last-child {
	transform: translateY(-0.15rem);
}

.hero>.content>.subtext>h2 {
	width: 50rem;
	border: 1px solid transparent;
	padding: 0.5rem 0;
	font-family: var(--font-family);
	color: #fff;
	text-align: center;
	font-size: 1.11rem;
	font-weight: 480;
	line-height: 1.8rem;
}

/* --------- text area ends --------- */

.content>.email {
	position: absolute;
	top: 68.5%;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.5rem 0;
}

.content>.email>form {
	position: relative;
	z-index: 0;
	display: flex;
	height: 2.5rem;
	width: 22.5rem;
	transform: translateY(0.3rem);

	gap: 0.5rem;
}

.content>.email>form>input {
	width: 100%;
	height: 100%;
	padding: 0.5rem 1.1rem;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 1.5rem;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
	font-family: var(--font-family);
	font-size: 0.92rem;
}

.content>.email>form>input::placeholder {
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.94rem;
}

.content>.email>form>button {
	z-index: 1;
	padding: 0.48rem 0.85rem;
	position: absolute;
	right: 0.25rem;
	top: 0.2rem;
	border: none;
	background-color: #fff;
	border-radius: 1.1rem;
	font-size: 0.92rem;
	font-weight: 500;
}

.content>.heroimage {
	display: flex;
	justify-content: center;
	top: 80%;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}

.content>.heroimage>img {
	transform: translateY(5.9rem);
	position: absolute;
	border-radius: 1.3rem;
	width: auto;
	height: 653px;
}

.grad {
	background-image: linear-gradient(to bottom,
			rgba(244, 245, 244, 0) 0%,
			rgba(244, 245, 244, 1) 30%);
	position: absolute;
	transform: translateY(650px);
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

/* --------- hero section ends --------- */

main {
	position: absolute;
	top: 1220px;
	width: 100%;
}

.sponsors {
	display: flex;
	justify-content: center;
	align-content: center;
	position: absolute;
	width: 100%;
	height: 20rem;
}

.sponsorlogos>img {
	width: 140px;
	height: auto;
	justify-self: center;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.sponsorlogos> :nth-child(5) {
	width: 100px;
	height: 30px;
	align-self: center;
}

.sponsorlogos> :nth-child(6) {
	width: 100px;
	height: 30px;
	align-self: center;
	transform: translateX(0.5rem);
}

.sponsorlogos> :nth-child(7) {
	width: 140px;
	height: 40px;
	align-self: center;
	transform: translateX(0.8rem);
}

.sponsorlogos> :nth-child(8) {
	width: 100px;
	height: 30px;
	align-self: center;
	transform: translateX(0.2rem);
}

.sponsorlogos {
	padding: 2rem 0.87rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	column-gap: 6rem;
	row-gap: 2rem;
	position: absolute;
	width: 60rem;
	top: 20%;
	bottom: 20%;
	color: white;
}

/* --------- sponsors section ends --------- */

.desc {
	padding: 0.5rem 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 25rem;
	width: 100%;
	padding: 0.5rem 0;
	font-family: var(--font-family);
}

.desc>strong {
	margin: 0.5rem 0;
	margin-bottom: 0.2rem;
	font-size: 2.4rem;
	font-weight: 580;
	color: var(--color-black);
	margin-bottom: 0.5rem;
}

.desc>span {
	font-size: 1rem;
	font-weight: 350;
	line-height: 1.6rem;
	color: var(--color-black);
	text-align: center;
}

/** -------- descirption section ends --------- */

.vid {
	font-family: var(--font-family);
	position: absolute;
	top: 35rem;
	width: 100%;
	height: 75rem;
	display: flex;
	justify-content: center;
}

.vid>.feat {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2.5fr 3fr;
	margin: 3rem 0;
	width: 60rem;
}

.vid>.feat>div {
	padding: 1rem 1.5rem;
	border: 1px solid rgba(128, 128, 128, 0.2);
	border-radius: 1.5rem;
}

.vid>.feat>div>h4 {
	font-size: 0.7rem;
	color: var(--color-darkgreen);
	font-weight: 340;
}

.vid>.feat>div>h5 {
	font-size: 1.3rem;
	margin: 1rem 0;
	font-weight: 500;
}

.vid>.feat>div>div>span {
	display: block;
	font-size: 0.9rem;
	line-height: 1.4rem;
}

.vid>.feat>.feat3 {
	grid-column: 1 / 3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vid>.feat>div>video {
	margin-top: 5rem;
	margin-left: 1rem;
}

.vid>.feat>.feat2>video {
	margin-top: 8rem;
}

.vid>.feat>.feat3>video {
	margin-top: 5rem;
}

.vid>.feat>.feat3>h5 {
	font-size: 1.4rem;
}

.vid>.feat>.feat3>h4 {
	font-size: 0.8rem;
}

.vid>.feat>.feat3>div>span {
	font-size: 1rem;
}

.vid>.feat>.feat3 {
	padding-top: 3rem;
}

/* --------- video section ends --------- */

.enter {
	position: absolute;
	background-color: #f5f5f5;
	top: 110rem;
	width: 100%;
	height: 88rem;
	display: flex;
	justify-content: center;
	font-family: var(--font-family);
}

.enter>.entercontent {
	position: relative;
	padding: 6.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	width: 65rem;
}

.enter>.entercontent>.top {
	width: 100%;
}

.enter>.entercontent>.mid>div>img {
	height: 24px;
}

.enter>.entercontent>.mid {
	margin: 2.5rem 0;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
}

.enter>.entercontent>.bot {
	color: #fff;
	display: flex;
	justify-content: flex-start;
	height: 35rem;
	width: 100%;
	background-image: url("assets/entr.png");
	background-size: cover;

	border-radius: 1.5rem;
}

.top>.txt>h4>span {
	display: block;
	font-size: 2.4rem;
	font-weight: 580;
}

.top>.txt>h4 {
	margin: 0.8rem 0;
}

.top>.txt>p {
	margin: 0.8rem 0;
	font-weight: 320;
}

.top>div>button {
	color: #fff;
	position: absolute;
	right: 0.2rem;
	transform: translateY(-35px);
	padding: 0.65rem 1.6rem;
	border: none;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 1.5rem;
	font-size: 0.99rem;
	font-weight: 500;
}

/* --------- enter section top ends --------- */

.mid {
	display: flex;
	justify-self: center;
}

.mid>div {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.5rem;
}

.mid>div>div>img {
	width: 35px;
}

.mid>div>span {
	font-size: 1.2rem;
	font-weight: 550;
	margin-top: 1rem;
}

.mid>div>p {
	margin: 0.7rem 0;
	font-weight: 350;
}

.bot {
	padding: 4rem;
}

.botcont>.head {
	font-size: 0.8rem;
	font-weight: 550;
	margin-bottom: 0.5rem;
}

.botcont>.body>span {
	display: block;
	font-size: 1.4rem;
	font-weight: 580;
}

.botcont>.body {
	margin: 1.2rem 0;
}

.botcont>.foot>button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: none;
	border: none;
	gap: 0.2rem;
}

.botcont>.foot>button>span {
	color: #fff;
	font-size: 0.9rem;
	font-weight: 450;
	line-height: 1.5rem;
}

.botcont>.foot>button>div>img {
	width: 15px;
}

.brands {
	border: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.5rem;
	margin-top: 2rem;
}

/* --------- enterprise section ends --------- */

.cards {
	position: absolute;
	top: 196rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--font-family);
}

.cards>.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.4rem;
	font-weight: 580;
	margin-top: 9rem;
	margin-bottom: 2.5rem;
}

.cards>.title>span {
	display: block;
	font-size: 0.7rem;
	margin-bottom: 0.8rem;
	font-weight: 580;
	color: #23a841;
}

.cards>.title>h4 {
	font-size: 2.3rem;
	font-weight: 580;
	margin-bottom: 0.8rem;
}

.cards>.title> :nth-child(3) {
	font-size: 0.97rem;
	font-weight: 350;
	margin-bottom: 0.3rem;
	color: #000;
}

.cards>.title> :nth-child(4) {
	font-size: 0.97rem;
	font-weight: 350;
	color: #000;
}

.cards>.card {
	display: flex;
	justify-content: space-around;
	gap: 2rem;
	padding: 1.5rem 1rem;
	border-radius: 1.5rem;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: auto;
}

.cards>.card>div>div>img {
	height: 40px;
}

.cards>.card>div {
	position: relative;
	height: 380px;
	width: 450px;
}

.cards>.card>div>div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 80%;
	border-radius: 1.5rem;
}

.cards>.card>div>span {
	position: absolute;
	width: 100%;
	bottom: 4%;
	padding: 0.2rem 0;
	letter-spacing: 0.03em;
	font-size: 1.05rem;
	font-weight: 400;
}

.cards>.card>.card1>div {
	background-image: url("assets/blue.png");
	background-size: cover;
}

.cards>.card>.card2>div {
	background-image: url("assets/black.png");
	background-size: cover;
}

.cards>.card>.card3>div {
	background-image: url("assets/green.png");
	background-size: cover;
}

.read {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	transform: translateY(-1.5rem);
	width: 1450px;
}

.read>div>button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	color: #808088;
	border: none;
}

.read>div>button:hover {
	color: var(--color-darkgreen);
}

.read>div>button>img {
	width: 16px;
}

#first {
	margin-left: 1.5rem;
}

#second {
	margin-left: 1.5rem;
}

#third {
	margin-left: 1.5rem;
}

.cards>.btn {
	display: flex;
}

.cards>.btn>button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0.4rem;
	background-color: rgba(0, 0, 0, 1);
	border: none;
	height: 25px;
	width: 25px;
	outline: none;
	border-radius: 100%;
	font-size: 0.99rem;
	font-weight: 500;
	color: #fff;
}

.cards>.btn>button>img {
	width: 16px;
}

.cards>.btn> :first-child {
	background-color: grey;
}

/* --------- cards section ends --------- */

.cta {
	display: flex;
	position: absolute;
	top: 255rem;
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: var(--font-family);
}

.cta>.ctacontent {
	padding: 4.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
	width: 65rem;
}

.ctacontent>.ctatext {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem 0;
	width: 65rem;
}

.ctacontent>.ctatext>strong {
	font-size: 2.4rem;
	font-weight: 620;
	margin-bottom: 1.6rem;
	line-height: 1.1rem;
}

.ctacontent>.ctabtn>button {
	padding: 0.65rem 1.6rem;
	border: none;
	border-radius: 1.5rem;
	margin: 1.3rem 0.2rem;
	font-size: 0.99rem;
	font-weight: 500;
	color: #000;
}

.ctabtn>button:first-child {
	background-color: #111;
	color: #f0f0f0;
}

.ctabtn>button:first-child:hover {
	background-color: #222;
}

.ctabtn>button:last-child {
	background-color: #fff;
	border: 1.5px solid #a8a8a8;
}

.ctabtn>button:last-child:hover {
	background-color: #d6d6d6;
}

.ctagrid {
	display: grid;
	width: 90%;
	margin-top: 3rem;
	grid-template-columns: 1fr 1fr;
}

.ctagrid>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ctagrid> :first-child {
	border-right: 1px solid rgba(5, 5, 5, 0.1);
}

.ctagrid>div>div>img {
	width: 50px;
	height: auto;
	margin: 1.56rem 0;
	padding: 0.5rem;
	border: 2px solid rgba(5, 5, 5, 0.1);
	border-radius: 0.7rem;
}

.ctagrid>div>strong {
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.ctabtns {
	display: flex;
	align-items: center;
	margin-top: 1.4rem;
}

.ctabtns>div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ctabtns>a {
	font-size: 0.9rem;
	text-decoration: none;
	color: #23a841;
}

.ctabtns>div>img {
	height: 16px;
}

footer {
	position: absolute;
	top: 379rem;
	width: 100%;
	display: flex;
	justify-content: center;
	border-top : 1px solid rgba(0, 0, 0, 0.1);
	font-family: var(--font-family);
}

footer>.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	top: 0;
	width: 65rem;
}

footer>.content>.head {
	display : flex; 
	justify-content: space-between;
	padding : 1.1rem 2rem;
	padding-top : 3rem;
	width: 100%;
	font-weight: 550;
	margin-bottom: 0.5rem;
	border : 1px solid rgba(0 , 0 , 0 , 0.1);
	border-top : none;
}

footer  > .content > .head  > div {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 0.5rem;
}

