@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--bg-color: #f4f5f4;
	--color-darkgreen: #1d4c56;
	--color-lightgreen: #45bc97;
	--color-badge: #96b099;
	--color-brown: #b4ab48;
	--color-darkbrown: #88600e;
	--color-lightbrown: #d1d092;
	--color-subheading: #08090acc;
	--color-blue: #3a88c8;
	--color-sky: #004D74;
	--color-lightpink: #bca794;
	--color-black: #000;
	--font-family : 'Inter', sans-serif;
	
	

	--text-white: #f4f5f4;
}

* {
	/* restting user-agent stylesheet */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	border: 3px solid transparent;
	height: 65px;
	z-index: 100;
	backdrop-filter: blur(14px);
}


.nav {
	display: grid;
	border: 3px solid transparent;
	margin: 0 auto;
	grid-template-columns: 2.5fr 1fr;
	align-items: center;
	height: 100%;
	width: 56.2vw;
	position: sticky;
	top: 0;
	background-color: transparent;
	font-family: ;

	z-index: 1;
}

.nav > :nth-child(1) {
	display: flex;
	justify-content: space-between;
	border: 3px solid transparent;
}

.nav > :nth-child(2) {
	display: flex;
	justify-content: flex-end;
	height: 70%;
	gap: 0.5rem;
}
.button1 {
	display: flex;
	justify-content: space-between;
}
.button1 > button {
	padding: 8px 13.7px ;
	border: none;
	background-color: transparent;
	color: var(--text-white);
	border-radius: 5px;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: 15px;
	font-weight: 550;
	transition: background-color 0.3s ease;
}

.button2 > button {
	height: 35px;
	display: flex;
	align-items : center;
	padding: 7px 14px ;
	border: none;
	color: var(--text-white);
	border-radius: 3.6px;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: 14.5px;
	font-weight: 500;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}
.button2 > button:first-child {
	background-color: rgba(255, 255, 255, 0.2);
	
}
.button2 > button:last-child {
	background-color: rgba(255, 255, 255);
    color : #fff;
}


.nav > :nth-child(1) > :nth-child(1) {
	display: flex;
	align-items: center;
	gap :4px;
	justify-content: space-between;
	font-family: var(--font-family);
	font-size: 1.4rem;
	font-weight: 750;
	color: var(--text-white);
	cursor: pointer;
}

.hero {
	position: relative;
	isolation: isolate;
	height: 100vh;
	width: 100%;
}

.bgimage {
	position: absolute;
	top: -164px;
	left: 50%;
	transform: translateX(-50%);
	height: auto;
	width: 100%;
	z-index: -1;
}


