@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--bg-color: #f4f5f4;
	--color-darkgreen: #1d4c56;
	--color-lightgreen: #45bc97;
	--color-badge: #96b099;
	--color-brown: #b4ab48;
	--color-darkbrown: #88600e;
	--color-lightbrown: #d1d092;
	--color-subheading: #08090acc;
	--color-blue: #3a88c8;
	--color-sky: #004d74;
	--color-lightpink: #bca794;
	--color-black: #000;
	--font-family: "Inter", sans-serif;

	--text-white: #f4f5f4;
}

* {
	/* restting user-agent stylesheet */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* --------------------navbar------------------- */
header {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	border: 3px solid transparent;
	height: 65px;
	z-index: 100;
	backdrop-filter: blur(14px);
}

.nav {
	display: grid;
	border: 3px solid transparent;
	margin: 0 auto;
	grid-template-columns: 2.5fr 1fr;
	align-items: center;
	height: 100%;
	/* width: 56.2vw; */
	width: 1067px;
	position: sticky;
	top: 0;
	background-color: transparent;
	font-family: var(--font-family);

	z-index: 1;
}

.nav> :nth-child(1) {
	display: flex;
	justify-content: space-between;
	border: 3px solid transparent;
}

.nav> :nth-child(2) {
	display: flex;
	justify-content: flex-end;
	height: 60%;
	gap: 0.5rem;
}

.button1 {
	display: flex;
	justify-content: space-between;
}

.button1>button {
	padding: 8px 13.7px;
	border: none;
	background-color: transparent;
	color: var(--text-white);
	border-radius: 5px;
	cursor: pointer;
	font-family: var(--font-family);
	font-size: 15px;
	font-weight: 550;
	transition: background-color 0.3s ease;
}

.button1>button:hover {
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.06);
}

.button2>button {
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 7px 14px;
	border: none;
	color: var(--text-white);
	border-radius: 3.6px;
	cursor: pointer;
	font-family: var(--font-family);
	font-weight: 510;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}

.button2>button:first-child {
	background-color: rgba(255, 255, 255, 0.06);
	font-size: 0.92rem;
}

.button2>button:last-child {
	background-color: rgba(255, 255, 255);
	font-size: 0.92rem;
	color: #000;
}

.button2>button:last-child:hover {
	background-color: rgba(215, 215, 225);
}

.nav> :nth-child(1)> :nth-child(1) {
	display: flex;
	align-items: center;
	gap: 4px;
	justify-content: space-between;
	font-family: var(--font-family);
	font-size: 1.4rem;
	font-weight: 750;
	color: var(--text-white);
	cursor: pointer;
}

/* ---------------navbar-ends------------- */

.hero {
	position: relative;
	isolation: isolate;
	height: 100vh;
	width: 100%;
}

.bgimage {
	position: absolute;
	top: -164px;
	left: 50%;
	transform: translateX(-50%);
	height: auto;
	width: 100%;
	z-index: -1;
}


.content {
	position: relative ;
	top : 65px;
	height: 32rem;

}

/*--------- badge starts ---------*/
.badge {
	display: flex;
	justify-content: space-between;
	padding: 0.18rem 0.25rem;
	padding-right: 0.5rem;
	align-items: center;
	position: absolute;
	top : 2.0rem;
	left : 50%;
	transform: translate(-50%);
	background-color: rgba(0, 0, 0, 0.11);
	border-radius: 1rem;
	font-family: var(--font-family);
	font-size: 0.78rem;
	font-weight: 550;
	gap: 0.6rem;
	text-decoration: none;
	color: var(--text-white);
	
}
.badge:hover{
	background-color: rgba(50, 50, 50, 0.11) ;
}

.badge > span {
	background-color: #108766;
	border-radius: 0.9rem;
	padding: 0.25rem 0.5rem;

}
.badge > p {
	font-size: 0.87rem;
}
.badge > .imgbox {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	background-color: #fff;
	border-radius: 100%;
	transform: translateX(-15%);
	width: 14px;
	height: 14px;
}
.badge > .imgbox > img {
	width: 12px;
}
/*----------------- badge ends ---------------*/



